body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* NAVBAR */

.navbar{
position:sticky;
top:0;
background:black;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

#search{
padding:8px;
border-radius:6px;
border:none;
}

/* LAYOUT */

.container{
display:flex;
padding:20px;
gap:20px;
}

.left{
flex:3;
}

.right{
flex:1;
background:#1e293b;
padding:15px;
border-radius:10px;
height:400px;
overflow:auto;
}

/* SONG CARD */

.song{
display:flex;
align-items:center;
gap:15px;
background:#1e293b;
padding:10px;
margin-bottom:10px;
border-radius:8px;
cursor:pointer;
}

.song:hover{
background:#334155;
}

.song img{
width:60px;
height:60px;
border-radius:6px;
}

.song h3{
margin:0;
}

.song p{
margin:0;
color:#94a3b8;
}

/* PLAYER */

.player{
position:fixed;
bottom:0;
width:100%;
background:black;
padding:10px;
}

audio{
width:100%;
}